@use 'sass:color';
@use 'sass:list';

@use '../abstracts' as *;

.button {
    margin: 0;
    padding: 0;
    border: none;
    
    background-color: transparent;

    transition: background-color 250ms;
    cursor: pointer;

    &--modal {
        position: fixed;
        bottom: 2rem;
        right: 2rem;

        padding: 1rem;
        border: solid 0.1rem;
        border-radius: 50%;

        background-color: $color3;
        color: white;
    }

    &--add {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);

        border-radius: 50%;

        background-color: $color1;
        box-shadow: 0.2rem 0.2rem 1rem 0.2rem color.adjust($color2, $alpha: -0.7);
    }

    &--priority {
        box-sizing: border-box;
        width: 4rem;
        height: 4rem;
        border: solid 0.3rem;
        border-radius: 50%;

        color: white;

        font-size: 2.4rem;
        font-weight: 600;

        &:not(:first-child) {
            margin-left: 2rem;
        }

        &.active {
            color: white;
        }

        @each $key, $value in (low: $priority-low, medium: $priority-medium, high: $priority-high) {
            &--#{$key} {
                color: $value;

                &.active {
                    border-color: $value;
                    background-color: $value;
                }
            }
        }
    }

    &--delete {
        padding: 1rem;
        border-radius: 1rem;

        background-color: $color5;
        color: white;

        &:hover, &:focus, &:active {
            background-color: color.adjust($color5, $lightness: 5%);
        }
    }
}