@use 'sass:color';
@use '../abstracts' as *;

.calendar {
    display: flex;
    flex-direction: column;

    padding-bottom: 1rem;

    color: $color4;

    &__dayNumber {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1;
    }
}