@use '../abstracts' as *;

.input {
    margin-top: 1rem;
    padding: 1rem 0;
    border: none;
    border-bottom: solid 0.1rem $color4;

    font-size: 1.8rem;

    &::placeholder {
        font-weight: 400;
    }
}