@use 'sass:color';
@use 'sass:list';

// Primary Pallette
$color1: #6C1C5C;
$color2: #2A2834;
$color3: #9b7ae7;
$color4: #777777;
$color5: #7c0202;

$boxShadow1: 0.2rem 0.2rem 0.5rem 0.2rem color.adjust(black, $alpha: -0.9);

$priority-low: #18ad68;
$priority-medium: #db9f50;
$priority-high: #d35949;